body {
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/services/services.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

.service-section {
  padding-top: 90px;
}
.service-section h1 {
  font-family: 'Kalam', cursive;
  font-size: 36px;
  text-align: center;
}

.service-section-head {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Kalam', cursive;
}

.service-section-head h2 {
  text-align: center;
}

.service-section-head h3 {
  padding: 10px 0;
  font-size: 14px;
}

.service-section-head li {
  font-size: 16px;
}

.service-section-first,
.service-section-second,
.service-section-third,
.service-section-fourth {
  width: 23%;
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 16px;
  text-align: justify;
  background-color: rgb(254, 245, 233, 0.6);
}

.service-section-first:hover,
.service-section-second:hover,
.service-section-third:hover,
.service-section-fourth:hover {
  box-shadow: 0 0 7px 7px rgb(142, 142, 142);
  cursor: pointer;
  transform: scale(1.02);
}

.service-section-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  margin: 20px auto;
  width: 70%;
  text-align: center;
  font-family: 'Concert One', sans-serif;
  font-weight: 100;
  border-radius: 30px;
}

.service-section-info a {
  color: rgb(218, 60, 60);
  text-decoration: none;
}
.service-section-tail {
  padding-bottom: 30px;
}
.service-section-tail h2 {
  font-family: 'Kalam', cursive;
  font-size: 36px;
  text-align: center;
}

.service-section-tail h3 {
  font-family: 'Kalam', cursive;
  font-size: 26px;
  text-align: center;
}

.service-section-testimonials {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(68, 67, 67, 0.6);
  color: white;
}

.service-section-testimonials-content {
  padding: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}
.service-section-testimonials-content p {
  font-style: italic;
}

.service-section-testimonials-content img {
  width: 100px;
  height: 100px;
  text-align: center;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .service-section-first,
  .service-section-second,
  .service-section-third,
  .service-section-fourth {
    width: 100%;
  }
  .service-section-testimonials {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(68, 67, 67, 0.6);
    color: white;
  }
}
